{% extends 'base.html' %}
{% block content %}
 <div class="container">
    <div class="row">
        <div class="d-flex justify-content-around align-items-center mt-5">
            <div class="col-6">
               <h1> Welcome To Our
                <br> <span class="text-success" >Task Management Platform</span>
            </h1>
            <h5 class="text-danger" >Code For Rice</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, assumenda! Error accusamus aperiam labore accusantium itaque doloribus qui nobis voluptates.</p>
            <a href="" class="btn btn-primary">Log in</a>
            <a href="" class="btn btn-primary">Sign Up</a>
        
        </div>
            <div class="col-6">
                <img src="./static/img.png" alt="">
            </div>
        </div>
    </div>
 </div>
{% endblock content %}

